#BOX{
    background-color: aqua;
    height: 100vh;
    animation: add 2s linear infinite;
}
@keyframes add{
    0%{
        background-color: azure;
    }
    20%{
        background-color: rgb(32, 224, 224);
    }
    40%{
        background-color: rgb(189, 16, 172);
    }
    60%{
        background-color: rgb(227, 219, 10);
    }
    80%{
        background-color: rgb(246, 76, 3);
    }
    100%{
        background-color: rgb(38, 51, 201);
    }
}
#container{
    display: flex;
    justify-content: center;
 
    justify-content: space-evenly;
    align-items: center;
}
#container2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}


#box1{
    background-color: aqua;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    animation: check 2s linear infinite;
}
@keyframes check {
    0% {
        background-color: azure;
        border: 10px solid blue;
        transform: skew(120deg);
    }

    20% {
        background-color: rgb(16, 16, 16);
        border: 10px solid blue;
        transform: skew(120deg);
        transform: translate(100px,100px);
    }

    40% {
        background-color: rgb(131, 247, 14);
        border: 10px solid blue;
        transform: skew(120deg);
        transform: translate(-100px, -100px);
    }

    60% {
        background-color: rgb(227, 219, 10);
        border: 10px solid rgb(226, 18, 77);
        transform: skew(90deg);
        transform: translate(-100px, 100px);
        
    }

    80% {
        background-color: rgb(246, 76, 3);
        border: 10px solid rgb(255, 238, 0);
        transform: translate(100px, -100px);
    }

    100% {
        background-color: rgb(38, 51, 201);
        border: 10px solid rgb(98, 230, 10);
    }
}

#box2{
    background-color: aqua;
    border: 5px solid black;
    display: flex;
        justify-content: center;
        align-items: center;
    height: 400px;
    width: 400px;
    animation: check 2s linear infinite;
}
#box3{
    background-color: aqua;
    border: 5px solid black;
    display: flex;
        justify-content: center;
        align-items: center;
    height: 400px;
        width: 400px;
        animation: check 2s linear infinite;
}
#box4{
    background-color: aqua;
    border: 5px solid black;
    display: flex;
        justify-content: center;
        align-items: center;
    height: 400px;
        width: 400px;
        animation: check 2s linear infinite;
}
#box5{
    background-color: aqua;
    border: 5px solid black;
    margin: 20px;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        width: 400px;
        animation: check 2s linear infinite;
}